* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Inter', sans-serif;
    background-color: #161619;
}

.app--container {
    width: 550px;
    height: 868px;
    background-color: #23252C;
    border: 1px solid #F3BF99;
}

.info--container {
    margin: 44px 116px;
}

.pic {
    height: 317px;
    width: 317px;
    border-radius: 10px 10px 0 0;
}

.pic > img {
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.info {
    height: 399px;
    width: 317px;
    background-color: #1A1B21;
    padding-top: 20px;

}

.info > h1, .role, .email {
    margin: 0;
}

.name {
    font-size: 25px;
    font-weight: 700px;
    color: #FFFFFF;
    text-align: center;

}

.role {
    font-size: 12.8px;
    font-weight: 400px;
    color:#F3BF99;
    text-align: center;
    margin-top: 3px;


}

.email {
    font-size: 10.24px;
    font-weight: 400px;
    color:#F5F5F5;
    text-align: center;
    margin-top: 9px;

}

button {
    margin: 16px 35px 0 35px;
    width: 247px;
    border-radius: 6px;
    height: 34px;
}

.about {
    color: #DCDCDC;
    margin: 32px 35px 24px 35px;
}

.about > h3 {
    font-weight: 700;
    font-size: 16px;
}

.about > p {
    font-size: 10.24px;
}

.footer {
    height: 64px;
    width: 317px;
    background-color: #161619;
    border-radius: 0 0 10px 10px;
}
